@import "./hero-slider";
@import "./company-short-info";
@import "./seo-sections";
@import "./distributor-section";
@import "./products-section";
@import "./news-short-section";
@import "./catalog-section";
@import "./detail-card-section";
@import "./callback-section";
@import "./news-section";
@import "./certificates-section";
@import "./videos-sections";
@import "./company-section";
