.catalog-section {
  padding-bottom: $gutter/2;
  border-bottom: 1px solid $gray;

  @media (min-width: $tablet-w) {
    padding-bottom: $gutter;
  }

  .uk-pagination {
    padding-top: $gutter/2;

    @media (min-width: $tablet-w) {
      padding-top: $gutter;
    }
  }
}

.catalog {
  &__item {
    height: calc(100% - #{$gutter/2});
    @media (min-width: $tablet-w) {
      height: calc(100% - #{$gutter});
    }

    &--last-child {
      @media (min-width: $tablet-w) {
        height: auto;
      }
      .product-card {
        margin-bottom: 0;
      }
    }
  }
}
