.certificates-list {
  border-top: 1px solid $gray;
  border-left: 1px solid $gray;
  &__item {
    padding: $gutter/2;
    height: 100%;
    border-right: 1px solid $gray;
    border-bottom: 1px solid $gray;

    @media (min-width: $desk-w) {
      padding: $gutter * 1.5;
    }
  }
}
