.hero-slider {
  .slider {
    overflow: hidden;
    height: calc(370px + (540 - 370) * ((100vw - #{$mob-xs}) / (1200 - 320)));
    @media (min-width: $desk-w) {
      height: 540px;
    }

    .slick-dots {
      right: $gutter/2;
      bottom: $gutter/2;
      margin-bottom: 0;
      text-align: right;

      @media (min-width: $desk-w) {
        right: $gutter;
        bottom: $gutter;
      }
    }

    &.slick-initialized {
      margin-bottom: 0;
    }
  }
}

.slide {
  position: relative;
  height: calc(370px + (540 - 370) * ((100vw - #{$mob-xs}) / (1200 - 320)));

  display: flex;
  align-items: center;
  @media (min-width: $desk-w) {
    height: 540px;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__desc {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
  }

  &__title {
    margin-bottom: $gutter / 2;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 62%;
    @media (min-width: $mob-xs) {
      font-size: calc(24px + (52 - 24) * ((100vw - #{$mob-xs}) / (1200 - 320)));

      line-height: calc(
        28px + (62 - 28) * ((100vw - #{$mob-xs}) / (1200 - 320))
      );
    }

    @media (min-width: $desk-w) {
      margin-bottom: $gutter;
      font-size: 52px;
      line-height: 62px;
    }
  }
}

.slick-dots {
  li {
    margin: 0 10px;
    width: 20px;
    height: 3px;
    transition: width 0.3s, height 0.3s ease;
    &.slick-active {
      width: 100px;
      height: 5px;
    }

    button {
      padding: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      &:before {
        display: none;
      }
    }
  }
}
