{% extends "../layouts/default.twig" %}
{% set title="404" %}

{% block content %}

  <!-- begin page-not-found -->
  <section class="page-not-found">
    <div class="uk-container">
      <div class="page-not-found__content">
        <div class="xl-title">404</div>
        <div class="preview-text">К сожалению, этой страницы не существует.
Возможно, она была переименована, удалена или вы неправильно ввели адрес.</div>
        <a href="/" class="btn" role="button">Перейти на главную</a>
      </div>
    </div>
  </section><!-- end page-not-found -->

{% endblock %}
