{% extends "../layouts/main.twig" %}
{% set title="Дистрибьюторы" %}
{% set bread=['Главная', 'Дистрибьюторы'] %}

{% block content %}
	<section class="content">
		<div class="uk-container">
			<h1>Дистрибьюторы</h1>
			<div id="map" class="map uk-margin-medium-bottom"></div>
			<ul class="contact-list contact-list--three-columns uk-child-width-1-3@m" uk-grid>
				<li class="contact-list__item-wrapper">
					<div class="contact-list__item">
						<div class="contact-user">
							<div class="contact-user__avatar"></div>
							<div class="contact-user__desc">
								<div class="contact-user__staff">ООО «ВОЛГОИНВЕСТ»</div>
								<div class="contact-user__text">
									<p>Москва, МКАД 32 км внешняя сторона, АГМ «Тракт» 32, офис 303/2,</p>
									<p>МКАД 91 км внешняя сторона, ТАП «Формула 91», офис №10</p>
									<p>Телефон:
										<a href="tel:+74951233224">+7 (495) 123-32-24</a>
									</p>
									<p>Телефон:
										<a href="tel:88007079759">8 800 707 97 59</a>
										по России бесплатный</p>
									<p>Email:
										<a href="mailto:kib@volgo-in.ru">kib@volgo-in.ru</a>
									</p>
									<a href="" class="link-arrow-right">
										<span>Посетить сайт</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="contact-list__item-wrapper">
					<div class="contact-list__item">
						<div class="contact-user">
							<div class="contact-user__avatar"></div>
							<div class="contact-user__desc">
								<div class="contact-user__staff">ООО «ТЕХИНКОМ-СПЕЦТЕХ»</div>
								<div class="contact-user__text">
									<p>142116, Московская область, г.Подольск, Домодедовское ш., д.7</p>
									<p>Телефон:
										<a href="tel:+74959743747">
											+7 (495) 974-37-47</a>
									</p>
									<p>Email:
										<a href="mailto:call-center@mroteh.ru">call-center@mroteh.ru</a>
									</p>
									<a href="" class="link-arrow-right">
										<span>Посетить сайт</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li class="contact-list__item-wrapper">
					<div class="contact-list__item">
						<div class="contact-user">
							<div class="contact-user__avatar"></div>
							<div class="contact-user__desc">
								<div class="contact-user__staff">ООО ТФК «ФЕНИКС»</div>
								<div class="contact-user__text">
									<p>423800, Россия, Республика Татарстан, г. Набережные Челны, Промкомзона, Индустриальный проезд, д. 37.
									</p>
									<p>Телефон:
										<a href="tel:88002509848">8 800 250 98 48</a>
										по России бесплатный</p>
									<p>
										<a href="tel:+79172957700">+7 (917) 295 77 00</a>
									</p>
									<p>Email:
										<a href="mailto:call-center@mroteh.ru">call-center@mroteh.ru</a>
									</p>
									<a href="" class="link-arrow-right">
										<span>Посетить сайт</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</li>

			</ul>

		</div>
	</section>
{% endblock %}
