{% extends "../layouts/default.twig" %}
{% set title="Главная" %}

{% set seoData={
  title: 'Дистрибьюторы',
  desc: 'Манипулятор - автомобиль с краноманипуляторной установкой (КМУ). Такая машина может поднять тяжелый груз на собственную платформу, перевезти, а затем выгрузить его.'
} %}

{% block content %}
	<div class="uk-container">
		<div class="main-page-title">
			<h1 class="title-large uk-text-center">DY INNOVATE Corporation</h1>
		</div>
	</div>

	{% include "../includes/sections/hero-slider.twig" %}
	{% include "../includes/sections/company-short-info.twig" %}
	{% include "../includes/sections/seo-section.twig" with {'info': seoData} %}
	{% include "../includes/sections/distributor-section.twig" %}
	<section class="section-decor section-decor--bg-gray">
		{% include "../includes/sections/products-section.twig" %}
		{% include "../includes/sections/news-short-section.twig" %}
	</section>
{% endblock %}
