<!-- begin callback-section -->
<section class="callback-section">
  <div class="uk-container">
    <div class="callback-section__inner">
      <h2 class="title-h2">Напишите нам и мы проконсультируем <br> по всем вашим вопросам</h2>
      <a href="#callback-modal" class="btn btn--icon-arrow-right btn--bg-white" role="button" uk-toggle>Оставить заявку</a>
    </div>
  </div>
</section><!-- end callback-section -->
