<!-- begin catalog-section -->
<section class="catalog-section">
	<div class="uk-container">
		<h1>Краны-манипуляторы (КМУ) DONGYANG</h1>
		<div class="catalog">

			<div class="uk-grid">
				<div class="uk-width-1-2@s">
					<div class="catalog__item">
						<div class="product-card">
							<div class="product-card__title">
								<a href="" class="title-h3">Кран-манипулятор DY (DongYang) SS1414</a>
							</div>
							<div class="product-card__img">
								<img src="img/media/product-img-1.svg" alt="Кран-манипулятор" loading="lazy">
							</div>
							<a href="#callback-modal" class="btn btn--icon-arrow-right" uk-toggle>Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog__item">
						<div class="product-card">
							<div class="product-card__title">
								<a href="" class="title-h3">Кран-манипулятор DY (DongYang) SS1416</a>
							</div>
							<div class="product-card__img">
								<img src="img/media/product-img-2.svg" alt="Кран-манипулятор" loading="lazy">
							</div>
							<a href="#callback-modal" class="btn btn--icon-arrow-right" uk-toggle>Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog__item">
						<div class="product-card">
							<div class="product-card__title">
								<a href="" class="title-h3">Кран-манипулятор DY (DongYang) SS1926 II</a>
							</div>
							<div class="product-card__img">
								<img src="img/media/product-img-3.svg" alt="Кран-манипулятор" loading="lazy">
							</div>
							<a href="#callback-modal" class="btn btn--icon-arrow-right" uk-toggle>Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog__item">
						<div class="product-card">
							<div class="product-card__title">
								<a href="" class="title-h3">Кран-манипулятор DY (DongYang) SS1956 ACE</a>
							</div>
							<div class="product-card__img">
								<img src="img/media/product-img-4.svg" alt="Кран-манипулятор" loading="lazy">
							</div>
							<a href="#callback-modal" class="btn btn--icon-arrow-right" uk-toggle>Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog__item">
						<div class="product-card">
							<div class="product-card__title">
								<a href="" class="title-h3">Кран-манипулятор DY (DongYang) SS1966 (для буровой установки)</a>
							</div>
							<div class="product-card__img">
								<img src="img/media/product-img-5.svg" alt="Кран-манипулятор" loading="lazy">
							</div>
							<a href="#callback-modal" class="btn btn--icon-arrow-right" uk-toggle>Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog__item">
						<div class="product-card">
							<div class="product-card__title">
								<a href="" class="title-h3">Кран-манипулятор DY (DongYang) SS2036</a>
							</div>
							<div class="product-card__img">
								<img src="img/media/product-img-6.svg" alt="Кран-манипулятор" loading="lazy">
							</div>
							<a href="#callback-modal" class="btn btn--icon-arrow-right" uk-toggle>Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog__item">
						<div class="product-card">
							<div class="product-card__title">
								<a href="" class="title-h3">Кран-манипулятор DY (DongYang) SS2037</a>
							</div>
							<div class="product-card__img">
								<img src="img/media/product-img-7.svg" alt="Кран-манипулятор" loading="lazy">
							</div>
							<a href="#callback-modal" class="btn btn--icon-arrow-right" uk-toggle>Оставить заявку</a>
						</div>
					</div>
				</div>
				<div class="uk-width-1-2@s">
					<div class="catalog__item">
						<div class="product-card">
							<div class="product-card__title">
								<a href="" class="title-h3">Кран-манипулятор DY (DongYang) SS2725LB</a>
							</div>
							<div class="product-card__img">
								<img src="img/media/product-img-8.svg" alt="Кран-манипулятор" loading="lazy">
							</div>
							<a href="#callback-modal" class="btn btn--icon-arrow-right" uk-toggle>Оставить заявку</a>
						</div>
					</div>
				</div>

				<div class="uk-width-1-1">
					<div class="catalog__item catalog__item--last-child">
						<div class="product-card">
							<div class="product-card__title">
								<a href="" class="title-h3">Кран-манипулятор DY (DongYang) SS3506</a>
							</div>
							<div class="product-card__img">
								<img src="img/media/product-img-9.svg" alt="Кран-манипулятор" loading="lazy">
							</div>
							<a href="#callback-modal" class="btn btn--icon-arrow-right" uk-toggle>Оставить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include "../components/pagination.twig" %}
	</div>


</section>
<!-- end catalog-section -->
