<!-- begin company-short-info-section -->
<div class="company-short-info-section">
	<div class="uk-grid uk-grid-collapse">
		<div class="uk-width-1-2@m">
			<div class="company-short-info__img">
				<picture>
					<source srcset="img/media/webp/company-img-desc.webp" type="image/webp" media="(min-width: 768px)">
					<source srcset="img/media/webp/company-img-mob.webp" type="image/webp" media="(min-width: 320px)">
					<source srcset="img/media/company-img-desc.png" type="image/png" media="(min-width: 768px)">
					<source srcset="img/media/company-img-mob.png" type="image/png" media="(min-width: 320px)">
					<img src="img/media/company-img-desc.png" alt="" loading="lazy" uk-img>
				</picture>

			</div>
		</div>
		<div class="uk-width-1-2@m">
			<div class="company-short-info__desc">
				<div class="preview-text">
					Компания DY производит различные типы кранов-манипуляторов, необходимых для строительства высотных зданий, метрополитена и общественных сооружений, начиная от 3-х тонных малогабаритных и 20-тонных крупногабаритных моделей.
				</div>

				<hr class="white">
				<div class="company-short-info__text">
					<p>Краны оснащены передовыми техническими возможностями, приспособлены к эксплуатации в условиях всех типов ландшафта, обладают высокой производственной мощностью</p>
					<p>
						Гарантийный срок на крано-манипуляторные установки DY составляет 12 месяцев или 1000 моточасов со дня передачи КМУ потребителю
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end company-short-info-section -->
