<!-- begin detail-card-section -->
<section class="detail-card-section">
  <div class="uk-container">
    <div class="detail-card">
      <h1>Кран-манипулятор DY (DongYang) SS1414</h1>

      <div class="detail-card__info">
        <div class="uk-grid">
          <div class="uk-width-2-3@m">
            <div class="detail-card__img" uk-lightbox="animation: slide;" >
              <a href="img/media/detail-card-img.png" data-attrs="style: background-color: #ffffff">
                <img src="img/media/detail-card-img.png" width="796" height="202" alt="Detail" loading="lazy">
              </a>
            </div>
          </div>
          <div class="uk-width-1-3@m">
            <div class="detail-card__text">
              <div class="preview-text">Напишите нам и мы проконсультируем по всем вашим вопросам</div>
              <a href="#callback-modal" class="btn btn--icon-arrow-right" role="button" uk-toggle>Оставить заявку</a>
            </div>
          </div>
        </div>
      </div>

      {% include "../components/pdf-list.twig" %}

      <div class="detail-card__options">
        <div class="uk-grid">
          <div class="uk-width-1-2@m">
           <div class="detail-card__options-left-side">
              <h2 class="title-h2">Характеристики</h2>
              <div class="uk-overflow-auto">
                <table class="uk-table">
                  <tr>
                    <td>Собственный вес с техническими жидкостями, кг</td>
                    <td>2726</td>
                  </tr>
                  <tr>
                    <td>Максимальный грузовой момент, тм</td>
                    <td>14 тм</td>
                  </tr>
                  <tr>
                    <td>Максимальная грузоподъемность </td>
                    <td>7 000 кг</td>
                  </tr>
                  <tr>
                    <td>Грузоподъемность на максимальном вылете </td>
                    <td>1 200 кг </td>
                  </tr>
                  <tr>
                    <td>Максимальный вылет стрелы, м</td>
                    <td>10,6</td>
                  </tr>
                  <tr>
                    <td>Максимальная рабочая высота, м</td>
                    <td>360°</td>
                  </tr>
                  <tr>
                    <td>Угол поворота, град</td>
                    <td>360°</td>
                  </tr>
                  <tr>
                    <td>Скорость поворота, об/мин</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Расчетная подача масла, л/мин</td>
                    <td>70</td>
                  </tr>
                  <tr>
                    <td>Объем масляного бака, л</td>
                    <td>90 л</td>
                  </tr>
                  <tr>
                    <td>Тип стрелы</td>
                    <td>гексагональная</td>
                  </tr>
                  <tr>
                    <td>Количество секций</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>Скорость выдвижения стрелы, м/с</td>
                    <td>7,1</td>
                  </tr>
                  <tr>
                    <td>Трос</td>
                    <td>Ø10 х 90 м</td>
                  </tr>
                  <tr>
                    <td>Скорость лебедки, м/мин</td>
                    <td>72</td>
                  </tr>
                  <tr>
                    <td>Вылет передних аутригеров, м</td>
                    <td>5,7</td>
                  </tr>
                  <tr>
                    <td>Вылет задних аутригеров, м</td>
                    <td>4,4</td>
                  </tr>
                  <tr>
                    <td>Минимальный рабочий радиус, м</td>
                    <td>2</td>
                  </tr>
                </table>
              </div>
           </div>
          </div>
          <div class="uk-width-1-2@m">
            <div class="detail-card__options-right-side">
              <h2 class="title-h2">Диаграмма рабочего диапазона</h2>
              <div class="figure-wrapper">
                <img src="img/media/diagrama.png" alt="" loading="lazy">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="detail-card__desc">
        <div class="uk-grid">
          <div class="uk-width-1-2@m">
            <div class="detail-card__desc-title">
              <h2 class="title-h2">Описание</h2>
            </div>
          </div>
          <div class="uk-width-1-2@m">
            <ul>
              <li>на лебедке установлен ограничитель размотки троса;</li>
              <li>механизм поворота колоны выполнен в виде червячного редуктора и гидролинии, соединённых через центральную цапфу, что даёт неограниченный поворот стрелы;</li>
              <li>обновленный верхний пульт управления.</li>
              <li>возможность установки строительной корзин</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- end detail-card-section -->
