<!-- begin header-desk -->
<div class="header-desk">
	<div class="uk-container">
		<div class="header-desk__inner">
			<a href="/" class="logo">
				<img src="img/logo.svg" width="227" height="39" alt="DY" loading="lazy">
			</a>

			<nav class="main-nav">
				<ul class="main-nav__list">
					<li>
						<a href="#">О Компании</a>
					</li>
					<li>
						<a href="#">Каталог</a>
						<ul class="main-nav__sublist">
							<li>
								<a href="#">Краны-манипуляторы (КМУ)</a>
							</li>
							<li>
								<a href="#">Автомобили с КМУ</a>
							</li>
							<li>
								<a href="#">Автобетононасосы</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Дистрибьюторы</a>
					</li>
					<li>
						<a href="#">Гарантия и сервис</a>
					</li>
					<li>
						<a href="#">Контакты</a>
					</li>
				</ul>
			</nav>

			<div class="toolbar">
				<div class="toolbar__search">
					<a href="#" class="js__toggle-search-desk" role="button">
						{{mixins.icon('20px', '20px', 'search')}}
						<span>Поиск</span>
					</a>

					<div class="form-search-desk-wrapper">
						<form action="" method="GET" class="search-form">
							<input type="text" placeholder="ПОИСК">
							<button class="btn btn--bg-white" type="submit">НАЙТИ</button>
						</form>
						<i class="icon-close" role="button">
							{{mixins.icon('20px', '20px', 'close')}}
						</i>
					</div>
				</div>
				<div class="toolbar__tel">
					<a href="tel:+79855565127">
						{{mixins.icon('20px', '20px', 'phone')}}
					</a>
				</div>
				<div class="toolbar__email">
					<a href="mailto:jwk2@dy.co.kr">
						{{mixins.icon('20px', '20px', 'mail')}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end header-desk -->
