<!-- begin hero-slider-section -->
<section class="hero-slider-section">
	<div class="hero-slider">
		<div class="slider">
			{% for item in 1..3 %}

				<div class="slide">
					<picture class="slide__img">
						<source srcset="img/media/webp/hero-slide-1-desk.webp" type="image/webp" media="(min-width: 768px)">
						<source srcset="img/media/webp/hero-slide-1-mob.webp" type="image/webp" media="(min-width: 320px)">
						<source srcset="img/media/sliders/hero-slide-1-desk.png" type="image/png" media="(min-width: 768px)">
						<source srcset="img/media/sliders/hero-slide-1-mob.png" type="image/png" media="(min-width: 320px)">
						<img src="img/media/sliders/hero-slide-1-desk.png" alt="" loading="lazy">
					</picture>


					<div class="slide__desc">
						<div class="uk-container">
							<div class="slide__title">
								Крупнейшая компания, получившая признание на мировом рынке
								{{item}}
							</div>
							<a href="" class="btn" role="button">Узнать больше</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- end hero-slider-section -->
