<!-- begin news-short-section -->
<section class="news-short-section">
	<div class="uk-container">
		<div class="news-short-section__top">
			<h2>Новости</h2>
			<a href="/news" class="link-arrow-right">
				<span>Все новости</span>
			</a>
		</div>

		<ul class="news-short-list uk-grid uk-child-width-1-2@m uk-grid-collapse" uk-grid uk-scrollspy="target: .post-short; cls: uk-animation-fade; delay: 150">
			<li>
				<article class="post-short">
					<section class="post-short__body">
						<div class="post-short__date">29 Апреля 2021</div>
						<div class="preview-text">
							<a href="">
								Приглашаем Вас посетить стенд компании ТЕХИНКОМ на Международной специализированной выставке bauma CTT 2021, которая состоится с 25 мая по 28 мая 2021 года в МВЦ Крокус Экспо.
							</a>
						</div>
					</section>
				</article>
			</li>

			<li>
				<article class="post-short">
					<section class="post-short__body">
						<div class="post-short__date">29 Апреля 2021</div>
						<div class="preview-text">
							<a href="">
								Приглашаем Вас посетить стенд компании ТЕХИНКОМ на Международной специализированной выставке bauma CTT 2021, которая состоится с 25 мая по 28 мая 2021 года в МВЦ Крокус Экспо.
							</a>
						</div>
					</section>
				</article>
			</li>
		</ul>
	</div>
</section>
<!-- end news-short-section -->
