<!-- begin products-section -->
<section class="products-section">
	<div class="uk-container">
		<div class="products-section__inner">
		  <h2>Продукция</h2>
  
  		<div class="products-list" uk-scrollspy="target: .product-item; cls: uk-animation-fade; delay: 150">
  			<div class="uk-grid uk-grid-collapse">
  				<div class="uk-width-2-3@s">
  					<div class="product-item">
  						<div class="product-item__title title-h3">
  							<a href="" class="link-arrow-right">
  								<span>Краны-манипуляторы</span>
  							</a>
  						</div>
  						<div class="product-item__text">
  							<p>Кран манипулятор представляет собой специальное техническое средство, основными частями которого является открытая грузовая платформа на базе самоходного шасси различного типа и установленный на ней крановый манипуляторный механизм, называемый также краново-манипуляторной установкой (КМУ)</p>
  						</div>
  					</div>
  				</div>
  				<div class="uk-width-1-3@s uk-flex-first uk-flex-last@s">
  					<div class="product-item product-item--no-padding">
  						<picture class="product-item__img">
  
  							<source srcset="img/media/webp/product-img-desc.webp" type="image/webp" media="(min-width: 768px)">
  							<source srcset="img/media/webp/product-img-mob.webp" type="image/webp" media="(min-width: 320px)">
  							<source srcset="img/media/product-img-desc.png" type="image/png" media="(min-width: 768px)">
  							<source srcset="img/media/product-img-mob.png" type="image/png" media="(min-width: 320px)">
  							<img src="img/media/product-img-desc.png" alt="" loading="lazy">
  
  						</picture>
  					</div>
  				</div>
  			</div>
  			<div class="uk-grid uk-grid-collapse">
  				<div class="uk-width-1-2@m">
  					<div class="product-item product-item--bg-light-blue">
  						<div class="product-item__title title-h3">
  							<a href="" class="link-arrow-right">
  								<span>Мойки</span>
  							</a>
  						</div>
  						<div class="product-item__text">
  							<p>
  								Компания DY Corp. нарастила производственные мощности по выпуску крано-манипуляторных установок DY для российского рынка на 30%
  							</p>
  						</div>
  					</div>
  				</div>
  				<div class="uk-width-1-2@m">
  					<div class="product-item product-item--bg-blue">
  						<div class="product-item__title title-h3">
  							<a href="" class="link-arrow-right">
  								<span>Автобетононасосы</span>
  							</a>
  						</div>
  						<div class="product-item__text">
  							<p>
  								Со времени основания компании в 1978г., компания DY расширяла новые производственные площади в различных регионах, тем самым создавая фундамент для корпоративного роста и развития
  							</p>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
		</div>
	</div>
</section>
<!-- end products-section -->
