<!-- begin seo-section -->
<section class="seo-section{{info.class}}">
	<div class="uk-container">
		<div class="uk-grid">
			<div class="uk-width-1-2@m">
				<div class="seo-section__title">
					<h2>{{info.title}}</h2>
				</div>
			</div>
			<div class="uk-width-1-2@m">
				<div class="preview-text">
					{{info.desc}}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end seo-section -->
