html,
body {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $mainFont;
  font-weight: 400;
  color: $black;
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

hr {
  margin: $gutter * 0.75 0;
  @media (min-width: $tablet-w) {
    margin: $gutter * 1.5 0;
  }

  &.white {
    border-color: #ffffff;
  }
}
