.footer {
  padding: $gutter 0 $gutter * 1.5;
  background-color: $darkBlue;

  &__top {
    margin-bottom: $gutter;
    border-bottom: 1px solid $mediumBlue;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter;
      padding-bottom: $gutter * 2;
    }
  }

  &__bottom {
    color: $mediumBlue;

    a {
      color: inherit;

      &:hover {
        color: #ffffff;
      }
    }

    p {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 21px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .dev {
      margin-top: $gutter;

      @media (min-width: $tablet-w) {
        margin-top: 0;
      }
    }
  }

  &__bottom-info {
    margin-bottom: $gutter;
  }

  &__column {
    margin-bottom: $gutter !important;
  }

  &__title {
    position: relative;
    margin-bottom: $gutter;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;

    i {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (min-width: $tablet-w) {
        display: none;
      }
      svg {
        color: #ffffff;
        transition: transform 0.3s ease;
        transform-origin: center;
      }

      &.open {
        svg {
          transform: rotateX(180deg);
        }
      }
    }
  }

  &__list {
    @include list-reset;
    display: none;
    @media (min-width: $tablet-w) {
      display: block !important;
    }
    li {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: $mediumBlue;
        font-size: 18px;
        line-height: 28px;

        &:hover {
          color: #ffffff;
        }
      }
    }
    &--two-columns {
      column-count: 2;
    }
  }

  &__contacts {
    & > div {
      margin-bottom: 12px;
      color: $mediumBlue;

      a {
        color: inherit;
        &.big-tel {
          color: #ffffff;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.big-tel {
  font-size: 24px;
  line-height: 34px;
}
