* + h1,
* + h2 {
  margin-top: 30px;
}

h1,
.title-h1,
h2,
.title-h2,
h3,
.title-h3 {
  margin-top: 0;
  font-family: $mainFont;
  color: $blue;
}

.xl-title {
  font-weight: 700;
  color: $blue;
  @media (min-width: $mob-xs) {
    font-size: calc(96px + (288 - 96) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(
      92px + (276 - 92) * ((100vw - #{$mob-xs}) / (1200 - 320))
    );
  }

  @media (min-width: $desk-w) {
    font-size: 288px;
    line-height: 276px;
  }
}

.title-large {
  margin-bottom: 40px;
  font-weight: 700;
  @media (min-width: $mob-xs) {
    font-size: calc(40px + (86 - 40) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(48px + (82 - 48) * ((100vw - #{$mob-xs}) / (1200 - 320)));
  }

  @media (min-width: $desk-w) {
    margin-bottom: $gutter * 1.5;
    font-size: 86px;
    line-height: 82px;
  }
}

h1,
.title-h1 {
  margin-bottom: $gutter;
  font-weight: 700;
  @media (min-width: $mob-xs) {
    font-size: calc(32px + (52 - 32) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(38px + (62 - 38) * ((100vw - #{$mob-xs}) / (1200 - 320)));
  }

  @media (min-width: $desk-w) {
    margin-bottom: $gutter * 2;
    font-size: 52px;
    line-height: 62px;
  }
}

h2,
.title-h2 {
  margin-bottom: $gutter;
  font-weight: 700;
  @media (min-width: $mob-xs) {
    font-size: calc(24px + (36 - 24) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(28px + (44 - 28) * ((100vw - #{$mob-xs}) / (1200 - 320)));
  }

  @media (min-width: $desk-w) {
    margin-bottom: $gutter;
    font-size: 36px;
    line-height: 44px;
  }
}

h3,
.title-h3 {
  margin-bottom: $gutter/2;
  font-weight: 500;
  @media (min-width: $mob-xs) {
    font-size: calc(24px + (32 - 24) * ((100vw - #{$mob-xs}) / (1200 - 320)));

    line-height: calc(22px + (30 - 22) * ((100vw - #{$mob-xs}) / (1200 - 320)));
  }

  @media (min-width: $desk-w) {
    margin-bottom: $gutter;
    font-size: 32px;
    line-height: 30px;
  }
}

a {
  color: $blue;
  transition: color 0.3s ease;

  &:hover {
    color: $blue;
    text-decoration: none;
  }

  &.link-arrow-right {
    display: inline-block;
    span {
      position: relative;
      padding-right: 15px;
      display: inline-block;
      &:after {
        content: "";
        position: absolute;
        top: 7px;
        right: 0;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 5px solid $blue;
        border-right: transparent;
        transition: transform 0.3s ease;
      }
    }

    &:hover {
      color: $lightBlue;
      span {
        &:after {
          border-left-color: $lightBlue;
          transform: translateX(4px);
        }
      }
    }
  }
}

svg {
  color: $black;
  transition: color 0.3s ease;
  &:hover {
    color: $blue;
  }
}

.preview-text {
  font-size: 18px;
  line-height: 28px;

  @media (min-width: $tablet-w) {
    font-size: 24px;
    line-height: 34px;
  }
}

p {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 21px;
  @media (min-width: $tablet-w) {
    font-size: 18px;
    line-height: 28px;
  }
}

.blue {
  color: $blue;
}

.figure-wrapper {
  padding: $gutter/2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gray;

  @media (min-width: $tablet-w) {
    padding: $gutter * 1.25 $gutter * 2.25;
  }
  img {
    max-width: 100%;
  }
}

.uk-table {
  font-size: 18px;
  line-height: 27px;
  tr {
    &:nth-child(odd) {
      background-color: $bgGray;
    }

    td {
      padding: 5px 12px;
      &:first-child {
        width: 70%;
      }
      &:last-child {
        width: 30%;
      }
    }
  }
}

ul:not([class]) {
  padding-left: 20px;
  font-size: 18px;
  line-height: 27px;
  list-style: disc;
  li {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    &::marker {
      color: $blue;
    }
  }
}

ol:not([class]) {
  @include list-reset;
  list-style: none;
  counter-reset: list-item;

  li {
    position: relative;
    margin-bottom: 40px;
    padding-left: 35px;
    font-size: 18px;
    line-height: 28px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $tablet-w) {
      margin-bottom: 60px;
      font-size: 24px;
      line-height: 34px;
    }
    &:before {
      content: counter(list-item);
      position: absolute;
      left: 0;
      top: 0;
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      color: $blue;

      @media (min-width: $tablet-w) {
        font-size: 36px;
        line-height: 42px;
      }
    }
  }
}
