$mob-xs: 320px;
$mob-s: 640px;
$tablet-w: 960px;
$desk-w: 1200px;
$desk-lg: 1368px;

$mainFont: "GothamPro";
$fontSize: 16px;
$lineHeight: 18px;

$black: #1a1919;
$blue: #1b5ca8;
$lightBlue: #419fd9;
$mediumBlue: #9ac8e4;
$darkBlue: #24417e;
$gray: #bebebe;
$bgGray: #f6f6f6;
$gutter: 40px;
$containerWidth: 1440px;
