<!-- begin pagination -->

<ul class="uk-pagination uk-flex-center uk-flex-right@m">
	<li class="prev uk-hidden">
		<a href="">
			Предыдущая
		</a>
	</li>
	<li class="uk-active">
		<span>1</span>
	</li>
	<li>
		<a href="#">2</a>
	</li>
	<li>
		<a href="#">3</a>
	</li>
	<li class="next">
		<a href="" class="link-arrow-right">
			<span>Следующая</span>
		</a>
	</li>
</ul>

<!-- end pagination -->
