<ul class="pdf-list">
  <li class="pdf-list__item-wrapper">
    <div class="pdf-list__item">
      <div class="pdf-list__item-img">
        {{mixins.icon('32px', '40px', 'doc')}}
      </div>
      <div class="pdf-list__item-text">
        <a href="" class="pdf-list__item-link" download>Скачать буклет</a>
        <div class="pdf-list__item-doc-size">PDF 3490 KB</div>
      </div>
    </div>
  </li>

  <li class="pdf-list__item-wrapper">
    <div class="pdf-list__item">
      <div class="pdf-list__item-img">
        {{mixins.icon('32px', '40px', 'doc')}}
      </div>
      <div class="pdf-list__item-text">
        <a href="" class="pdf-list__item-link" download>Инструкция по эксплуатации</a>
        <div class="pdf-list__item-doc-size">PDF 12980 Kb</div>
      </div>
    </div>
  </li>

  <li class="pdf-list__item-wrapper">
    <div class="pdf-list__item">
      <div class="pdf-list__item-img">
        {{mixins.icon('32px', '40px', 'doc')}}
      </div>
      <div class="pdf-list__item-text">
        <a href="" class="pdf-list__item-link" download>Монтажная схема</a>
        <div class="pdf-list__item-doc-size">PDF 2789 Kb</div>
      </div>
    </div>
  </li>
  
</ul>
