<ul class="pdf-list">
	<li class="pdf-list__item-wrapper">
		<div class="doc-item">
			<div class="doc-item__img">
				{{mixins.icon('32px', '40px', 'doc')}}
			</div>
			<div class="doc-item__text">
				<a href="" class="doc-item__link" download>Скачать буклет</a>
				<div class="doc-item__doc-size">PDF 3490 KB</div>
			</div>
		</div>
	</li>

	<li class="pdf-list__item-wrapper">
		<div class="doc-item">
			<div class="doc-item__img">
				{{mixins.icon('32px', '40px', 'doc')}}
			</div>
			<div class="doc-item__text">
				<a href="" class="doc-item__link" download>Инструкция по эксплуатации</a>
				<div class="doc-item__doc-size">PDF 12980 Kb</div>
			</div>
		</div>
	</li>

	<li class="pdf-list__item-wrapper">
		<div class="doc-item">
			<div class="doc-item__img">
				{{mixins.icon('32px', '40px', 'doc')}}
			</div>
			<div class="doc-item__text">
				<a href="" class="doc-item__link" download>Монтажная схема</a>
				<div class="doc-item__doc-size">PDF 2789 Kb</div>
			</div>
		</div>
	</li>

</ul>
