.breadcrumbs-wrapper {
  margin-bottom: 20px;
}

.breadcrumbs {
  @include list-reset;
  font-size: 0;
  line-height: 0;
  li {
    display: inline-block;
    vertical-align: top;
    color: $black;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    a {
      position: relative;
      margin-right: 16px;
      padding-right: 23px;
      color: $black;
      font-size: 16px;
      line-height: 24px;
      &:hover {
        color: $blue;
      }
      &:after {
        content: "";
        position: absolute;
        top: 9px;
        right: 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        border-left: 4px solid $black;
        border-right: transparent;
        transition: transform 0.3s ease;
      }
    }
  }
}
