.btn {
  padding: 12px 24px;
  display: inline-block;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-family: $mainFont;
  text-align: center;
  background-color: $lightBlue;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    color: #ffffff;
    background-color: $blue;
  }

  &--bg-white {
    color: $black;
    background-color: #ffffff;
  }

  &--icon-arrow-right {
    position: relative;
    padding-right: 45px;
    &:after {
      content: "";
      position: absolute;
      top: 25px;
      right: 25px;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-left: 5px solid #ffffff;
      border-right: transparent;
      transition: transform 0.3s ease;
    }
  }
}
