.certificate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__img {
    margin-bottom: $gutter/2;
    width: 100%;
    @media (min-width: $desk-w) {
      margin-bottom: $gutter;
    }

    a {
      position: relative;

      picture {
        display: block;
        text-align: center;
        height: calc(
          155px + (320 - 155) * ((100vw - #{$mob-xs}) / (1200 - 320))
        );

        @media (min-width: $desk-w) {
          height: 320px;
        }
      }

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 12px;

    @media (min-width: $tablet-w) {
      font-size: 24px;
      line-height: 34px;
    }
  }
}
