.form-search-desk-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: #ffffff;
  z-index: 60;
  transform: translateY(-14px);
  &.active {
    display: block;
  }

  .icon-close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover {
      svg {
        stroke: $blue;
      }
    }
  }

  .search-form {
    input[type="text"] {
      padding-right: 135px;
    }

    .btn {
      right: 35px;
      font-size: 16px;
      line-height: 15px;
      font-weight: 500;
    }
  }
}

.mobile-search-form-wrapper {
  margin-bottom: $gutter * 1.5;
  padding: $gutter 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

.search-form {
  position: relative;

  input[type="text"] {
    padding: 0 110px 0 35px;
    height: 51px;
    background: url("../img/icon-svg/search.svg") 0 center no-repeat;
    background-size: 20px;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
  }
  ::placeholder {
    font-weight: 700;
    color: $black;
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 51px;
  }
}

.default-form {
  .form-group {
    margin-bottom: $gutter/2;
    display: block;
  }

  label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    sup {
      color: red;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 0 15px;
    width: 100%;
    height: 57px;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    border: 1px solid $gray;
    transition: border-color 0.3s ease;
    &::placeholder {
      color: $gray;
      transition: color 0.3s ease;
    }

    &:focus,
    &:hover {
      border-color: $blue;

      &::placeholder {
        color: $black;
      }
    }
  }

  textarea {
    padding: 15px;
    width: 100%;
    font-size: 18px;
    line-height: 21px;
    background-color: #ffffff;
    border: 1px solid $gray;
    min-height: 114px;
    resize: vertical;
    &::placeholder {
      color: $gray;
      transition: color 0.3s ease;
    }

    &:focus,
    &:hover {
      border-color: $blue;

      &::placeholder {
        color: $black;
      }
    }
  }

  .btn {
    margin-top: $gutter/2;
  }
}

.search-section-form {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $mob-s) {
    flex-wrap: nowrap;
  }
  .btn {
    width: 100%;
    @media (min-width: $mob-s) {
      margin-top: 0;
      margin-left: 20px;
      width: auto;
    }
  }
}
