.pdf-list {
  @include list-reset;
  margin-bottom: $gutter;
  padding: $gutter/2 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid $gray;
  @media (min-width: $mob-s) {
    padding: $gutter * 0.75 0 0;
    flex-direction: row;
  }
  @media (min-width: $tablet-w) {
    margin-bottom: $gutter * 2;
    padding: $gutter 0 $gutter/2;
  }

  &__item-wrapper {
    margin-bottom: $gutter/2;
    @media (min-width: $mob-s) {
      margin-right: $gutter/2;

      padding-right: $gutter/2;
      border-right: 1px solid $gray;
    }

    @media (min-width: $tablet-w) {
      margin-right: $gutter;
      margin-bottom: $gutter;
      padding-right: $gutter;
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: none;
    }
  }
}

.doc-item {
  position: relative;
  display: inline-flex;
  align-items: flex-start;

  @media (min-width: $mob-s) {
    align-items: center;
  }

  &__img {
    margin-right: $gutter/2;
    flex-shrink: 0;
  }

  &__link {
    color: $blue;
    font-size: 18px;
    line-height: 27px;
    &:hover {
      color: $lightBlue;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 2;
    }
  }

  &__doc-size {
    font-size: 14px;
    line-height: 21px;
  }
}
