.post {
  position: relative;
  margin-bottom: $gutter;
  padding-bottom: $gutter;
  background-color: #ffffff;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  @media (max-width: #{$tablet-w - 1px} ) {
    margin-bottom: $gutter;
    border-bottom: 1px solid $gray;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &__header {
    margin-bottom: $gutter/2;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter/2;
    }
  }

  &__body {
    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__date {
    margin-bottom: $gutter/2;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter;
    }
  }

  &__img {
    position: relative;
    height: 0;
    padding-bottom: 56.5%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-bottom: $gutter/2;
    display: block;
    font-size: 24px;
    line-height: 34px;
    color: $blue;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 28px;

    @media (min-width: $tablet-w) {
      font-size: 24px;
      line-height: 34px;
    }
  }

  &--main {
    .post__title {
      font-size: 24px;
      line-height: 22px;
      font-weight: 500;

      @media (min-width: $tablet-w) {
        font-size: 32px;
        line-height: 30px;
      }
    }
  }
}

.post-short {
  padding: $gutter $gutter/2;
  background-color: #ffffff;

  @media (min-width: $tablet-w) {
    padding: $gutter * 1.5;
  }
  &__date {
    margin-bottom: $gutter/2;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 500;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter/2;
    }
  }
}
