.product-card {
  margin-bottom: $gutter/2;
  padding: $gutter/2;
  height: 100%;
  border: 1px solid transparent;
  background-color: $bgGray;
  transition: background-color 0.3s, border-color 0.3s ease;
  &:hover {
    border-color: $gray;
    background-color: #ffffff;
  }
  @media (min-width: $tablet-w) {
    margin-bottom: $gutter;
    padding: $gutter;
  }

  &__title {
    margin-bottom: $gutter;

    @media (min-width: $tablet-w) {
      margin-bottom: $gutter * 1.5;
    }

    &:hover {
      a {
        color: $lightBlue;
      }
    }
  }

  &__img {
    position: relative;
    margin-bottom: $gutter;
    height: 52px;
    @media (min-width: $tablet-w) {
      margin-bottom: $gutter * 1.5;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
