{% block content %}

	<footer class="footer">
		<div class="uk-container">
			<div class="footer__top">
				<div class="uk-grid">
					<div class="uk-width-1-3@m">
						<div class="footer__column">
							<div class="footer__title">
								продукция
								<i class="js__mobile-sublist-toggle">
									{{mixins.icon('8px', '8px', 'arrow-down')}}
								</i>
							</div>
							<ul class="footer__list">
								<li>
									<a href="">Бортовые автомобили c КМУ DongYang</a>
								</li>
								<li>
									<a href="">Седельные тягачи с КМУ DongYang</a>
								</li>
								<li>
									<a href="">Гидроманипуляторы DongYang</a>
								</li>
								<li>
									<a href="">Дополнительное оборудование</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="uk-width-1-3@m">
						<div class="footer__column">
							<div class="footer__title">
								компания
								<i class="js__mobile-sublist-toggle">
									{{mixins.icon('8px', '8px', 'arrow-down')}}
								</i>
							</div>
							<ul class="footer__list footer__list--two-columns">
								<li>
									<a href="company.html">О компании</a>
								</li>
								<li>
									<a href="service.html">Гарантия и сервис</a>
								</li>
								<li>
									<a href="news.html">Новости</a>
								</li>
								<li>
									<a href="videos.html">Видео</a>
								</li>
								<li>
									<a href="distr.html">Дистрибьюторы</a>
								</li>
								<li>
									<a href="service.html">Гарантия и сервис</a>
								</li>
								<li>
									<a href="contacts.html">Контакты</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="uk-width-1-3@m">
						<div class="footer__column">
							<div class="footer__title">Контактная информация</div>
							<div class="footer__contacts">
								<div class="footer__contacts-tel">
									<a href="tel:+82328104041" class="big-tel">+82 32 810 4041</a>
								</div>
								<div class="footer__contacts-email">
									<a href="mailto:jwk2@dy.co.kr">jwk2@dy.co.kr</a>
								</div>
								<div class="footer__contacts-address">
									570-998, 118, Seogam-ro 13-gil, Iksan-si, Jeollabuk-do, Republic of Korea
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="footer__bottom-info">
					<div class="uk-grid">
						<div class="uk-width-1-3@m">
							<div class="copyright">© 2021, DY INNOVATE Corporation</div>
						</div>
						<div class="uk-width-1-3@m">
							<div class="dev">
								<a href="https://aevrika.ru" target="_blank">Разработка и продвижение — Эврика</a>
							</div>
						</div>
					</div>
				</div>
				<p>
					Обращаем Ваше внимание на то, что информация на данном сайте носит исключительно уведомительный и информационный характер и не является публичной офертой (определяемой в соответствии с статьей 435 и статьей 437 Гражданского кодекса РФ). Наличие и стоимость представленных на сайте автомобилей уточняйте по телефонам отделов продаж, представленных в разделе "Контакты" настоящего ресурса.
				</p>
				<p>
					Оставаясь на сайте, вы даете согласие на обработку файлов cookie и пользовательских данных в целях функционирования сайта, проведения статистических исследований и рекламы. По вопросам, связанным с использованием ваших персональных данных, обращайтесь на info@info.ru
				</p>
			</div>
		</div>
	</footer>

{% endblock %}
